@inherits Umbraco.Web.Mvc.UmbracoViewPage<MemberImageModel>

@using Appintern.Web.ViewModels

@{
    ViewBag.Title = "Profile Image";
    Layout = "~/Views/Shared/_LayoutMin.cshtml";
    string successMessage = ViewData["successMessage"] != null ? ViewData["successMessage"].ToString() : "";
}

<div class="page-header" style="margin:5px auto 5px auto;width:80%">
    <span style="margin:5px 5px 5px 5px;font-family:'Segoe UI';font-size:large;text-shadow:1px 1px #000000">
        <font style="color:#494949;float:left;font-family:'Segoe UI'">Employer Profile Form</font>
    </span>
    <span style="margin:5px 60px 5px 5px;float:right;font-family:'Segoe UI';">
        @Html.ActionLink("Member Main Page", "RenderTasksMain", "TasksProfile", new { memberId = Model.MemberId }, new { @class = "btn btn-warning", style = "font-size:16px" })
    </span>
    <span style="margin:5px 5px 5px 5px;float:right;font-family:'Segoe UI';font-size:14px">
        @Html.ActionLink("Company Summary", "EmployerSummary", "TasksProfile", new { memberId = Model.MemberId }, new { @class = "btn btn-info", style = "font-size:16px" })
    </span>
    <span style="margin:5px 5px 5px 5px;float:right;font-family:'Segoe UI';font-size:14px">
        @Html.ActionLink("Profile Details", "EmployerDetail", "TasksProfile", new { articleId = Model.MemberId }, new { @class = "btn btn-info", style = "font-size:16px" })
    </span>
</div>

<div class="container" style="margin:10px auto 5px auto;background-color:whitesmoke;">
    @{
        using (Html.BeginForm("SubmitEmployerImage", "TasksProfile", FormMethod.Post, new { enctype = "multipart/form-data" }))
        {
            @Html.AntiForgeryToken()

            @RenderImageForm()

            if (!ViewData.ModelState.IsValid)
            {
                <div class="alert alert-danger alert-dismissible" role="alert">
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <strong>@Html.ValidationSummary()</strong>
                </div>
            }

            if (!string.IsNullOrEmpty(successMessage))
            {
                <div class="alert alert-success alert-dismissible" role="alert">
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <strong>@Html.Raw(successMessage)</strong>
                </div>
            }

        }
    }
</div>

@helper RenderImageForm()
{
    @Html.HiddenFor(m => m.MemberId)

    <div class="col-md-12" style="margin-top:10px">
        <div class="form-header" style="margin-bottom:20px">
            <h4>Employer Profile Image</h4>
            @if(!string.IsNullOrEmpty(Model.ImageUrl))
            {
                <img src="@Model.ImageUrl" width="200" height="200" />
            }
        </div>
        <div class="form-group" style="margin-bottom:20px;margin-left:20px">
            <input type="file" name="Avatar" id="Avatar" accept="image/png, image/jpeg, image/jpg, image/gif" style="font-size:18px" onchange="loadFile(event)" />
            <button class="btn btn-primary" name="submit" type="submit">Upload image </button>
        </div>
        <div class="form-group" style="margin-left:20px;margin-bottom:10px">
            <p><label for="file" style="cursor: pointer;">Upload Image Preview</label></p>
            <p><img id="output" width="200" /></p>
        </div>
    </div>
}



<script type="text/javascript">

    //set current to the "en-GB" culture script. Required for all Kendo controls!
    kendo.culture("en-GB");

    var loadFile = function (event) {
        var image = document.getElementById('output');
        image.src = URL.createObjectURL(event.target.files[0]);
    };

</script>
