@model SearchResultsModel
@using Appintern.Core.Models

@if (Model != null)
{
    if (Model.HasResults)
    {
        <p>Your search for <strong>@Model.SearchTerm</strong> returned <strong>@Model.TotalItemCount</strong> result@(Model.TotalItemCount != 1 ? "s" : null)</p>

        <div class="row" style="margin-bottom:10px">
            <div class="col-xs-12">
                @RenderPagingButtons(Model.PagingBounds, Model.PageNumber, Model.PageCount)
            </div>
        </div>

        <div class="row">
            @foreach (IPublishedContent result in Model.Results)
            {
                <div class="list-group">
                    @RenderBoxedItem(result)
                </div>
            }
        </div>

        <div class="row" style="margin-top:10px">
            <div class="col-xs-12">
                @RenderPagingButtons(Model.PagingBounds, Model.PageNumber, Model.PageCount)
            </div>
        </div>
    }
}

@helper RenderPagingButtons(PagingBoundsModel pagingBounds, int pageNumber, int pageCount)
{
    if (pagingBounds.ShowFirstButton)
    {
        <button name="page-1">First</button>
    }

    if (pageNumber > 1)
    {
        <button name="page-@(pageNumber - 1)">Prev</button>
    }

    if (pagingBounds.StartPage != pagingBounds.EndPage)
    {
        for (int i = pagingBounds.StartPage; i <= pagingBounds.EndPage; i++)
        {
            <button name="page-@i" class="@(i == pageNumber ? "current" : null)">@i</button>
        }
    }

    if (pageNumber < pageCount)
    {
        <button name="page-@(pageNumber + 1)">Next</button>
    }

    if (pagingBounds.ShowLastButton)
    {
        <button name="page-@(pageCount)">Last</button>
    }
}

@helper RenderBoxedItem(IPublishedContent item)
{
    <div class="list-group-item col-md-12">
        <img src='@Url.Content("~/Images/33.jpg")' height="60" width="80" />
        <a href="@item.Url()" target="_blank">@item.Name</a>
        <p>@Html.Raw(item.Value("metaDescription"))</p>
    </div>
}