@inherits ArticlesViewPage

@using Appintern.Core.ViewPages

@using System.Collections.Generic;

@{
    var resultSet = ArticleService.GetLatestArticles(Model, Request);
}

<link href="~/css/style.css" rel="stylesheet">


@if (resultSet != null && resultSet.Results != null && resultSet.Results.Any())
{
    var articles = resultSet.Results.Cast<Article>();

    <div class="article-list">
        <div class="container">
            <div class="intro">
                <h2 class="text-center">@(Model.Value<string>("latestArticlesTitle"))</h2>
                <p class="text-center">@(Model.Value<string>("latestArticlesSubtitle"))</p>
            </div>
            @if (articles.Any())
            {
                <div class="row articles col-md-12">
                    @foreach (var article in articles)
                    {
                        @RenderArticle(article);
                    }
                </div>
            }
            <hr />
            <!-- Pager -->
            <div class="clearfix">
                @if (resultSet.IsArticleListPage)
                {
                    if (resultSet.PageCount > 1)
                    {
                        <div class="paging-block text-center">
                            <span>@Umbraco.GetDictionaryValue(key: "Paging.Page") @resultSet.PageNumber @Umbraco.GetDictionaryValue("Paging.Of") @resultSet.PageCount</span>
                        </div>
                        <div class="center">
                            <span style="float:left">
                                @if (resultSet.PageNumber > 1)
                                {
                                    <a class="btn btn-primary float-left" style="min-width:15ch" href="@( $"{resultSet.Url}?page={resultSet.PageNumber - 1}&size={resultSet.PageSize}")">
                                        @Umbraco.GetDictionaryValue(key: "Paging.Previous")
                                    </a>
                                }
                                else
                                {
                                    @Html.Raw("&nbsp;");
                                }
                            </span>
                            <span style="float:right">
                                @if (resultSet.PageNumber < resultSet.PageCount)
                                {
                                    <a class="btn btn-primary float-right" style="min-width:15ch" href="@( $"{resultSet.Url}?page={resultSet.PageNumber + 1}&size={resultSet.PageSize}")">
                                        @Umbraco.GetDictionaryValue(key: "Paging.Next")
                                    </a>
                                }
                                else
                                {
                                    @Html.Raw("&nbsp;");
                                }
                            </span>
                        </div>
                    }
                }
                else
                {
                    <div class="container center">
                        <a class="btn btn-primary" style="min-width:20ch" href="@(resultSet.Url)">@Umbraco.GetDictionaryValue(key: "Paging.ViewAll")</a>
                    </div>
                }
            </div>
        </div>
    </div>

}

@helper RenderArticle(IPublishedContent item)
{
    string imageUrl = item.Value<IPublishedContent>("mainImage")?.GetCropUrl(720, 455) ?? "/img/news-banner.jpg";
    string title = item.HasValue("title") ? item.Value<string>("title") : item.Name;
    string description = item.Value<string>("metaDescription");

    <div class="col-md-4 col-sm-6 item">
        <a href="@item.Url()"><img class="img-responsive" src="@imageUrl"></a>
        <h3 class="name"><a href="@item.Url()">@title</a></h3>
        <p class="description">@description</p>
        <p><a href="@item.Url()" class="btn btn-primary btn-outline with-arrow">Read More <i class="icon-arrow-right"></i></a></p>
    </div>
}