@inherits Umbraco.Web.Mvc.UmbracoViewPage
@{
	Layout = null;
}

@using ClientDependency.Core.Mvc

<!DOCTYPE html>
<html>
<head>
    <title>AppInterN Starter</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
    <link rel="shortcut icon" href="@Url.Content("~/images/favicon.ico")" type="image/x-icon" />

    @{ Html.RenderPartial("SiteLayout/_MetaData"); }

    @{
        //styles
        Html.RequiresCss("https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/css/bootstrap.min.css");
        Html.RequiresCss("https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/css/bootstrap-theme.min.css");
        Html.RequiresCss("https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css");

        Html.RequiresCss(Url.Content("~/css/Footer-Basic.css"));
        Html.RequiresCss(Url.Content("~/css/Navigation-Clean.css"));
        Html.RequiresCss(Url.Content("~/css/News-Cards.css"));
        Html.RequiresCss(Url.Content("~/css/styles.css"));

        //from Bold theme
        Html.RequiresCss(Url.Content("~/css/animate.css"));
        Html.RequiresCss(Url.Content("~/css/icomoon.css"));
        Html.RequiresCss(Url.Content("~/css/bootstrap.min.css"));
        Html.RequiresCss(Url.Content("~/css/bootstrap-theme.min.css"));
        Html.RequiresCss(Url.Content("~/css/style.css"));
        Html.RequiresCss(Url.Content("~/css/simple-line-icons.css"));

        //scripts (commented out moved to "_MainNavigation" as it conflicts with Accordions js)
        //Html.RequiresJs("https://cdnjs.cloudflare.com/ajax/libs/jquery/1.12.4/jquery.min.js");

        Html.RequiresJs(Url.Content("~/scripts/bootstrap.min.js"));
        Html.RequiresJs(Url.Content("~/scripts/navigationMenu.js"));

        Html.RequiresCss("https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/css/bootstrap-datepicker.min.css");
        Html.RequiresJs("https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/js/bootstrap-datepicker.min.js");
    }

    @Html.RenderCssHere()

    @RenderSection("Head", false)

</head>
<body>
    <div style="margin-top:70px;"></div>
    @Html.CachedPartial("SiteLayout/_MainNavigation", Model, 3600)

    @RenderBody()

    @Html.CachedPartial("SiteLayout/_Footer", Model, 3600)


    @Html.RenderJsHere()

    @RenderSection("ScriptsBottom", false)

</body>
</html>