@inherits Umbraco.Web.Mvc.UmbracoViewPage<ContentModels.PageNotFound>

@using ContentModels = Umbraco.Web.PublishedModels;
@using ClientDependency.Core.Mvc

@{
    Layout = null;
    string mainImageUrl = Model.Value<IPublishedContent>("mainImage")?.GetCropUrl(945, 400) ?? "";
    var homePage = Model.AncestorOrSelf<Home>();

    Html.RequiresCss("/css/bootstrap.min.css");
    Html.RequiresCss("/css/bootstrap-theme.min.css");
    Html.RequiresCss("/css/style.css");
    Html.RequiresCss("/css/Article-Clean.css");

    @Html.RenderCssHere()
}

<div class="article-clean">
    <div class="container">
        <div class="row">
            <div class="col-lg-10 col-lg-offset-1 col-md-12">
                <div class="intro">
                    @if (!string.IsNullOrEmpty(mainImageUrl))
                    {
                        <img class="img-responsive" src="@(mainImageUrl)">
                    }
                    <h1 class="text-center">@(Model.HasValue("title") ? Model.Value<string>("title") : Model.Name)</h1>
                </div>
                @if (Model.HasValue("subTitle"))
                {
                    <h3 class="text-center">@(Html.Raw(Model.SubTitle))</h3>
                    <p></p>
                    <a class="center" href="@(Model.PageLink.Url)" style="font-size:18px;font-family:Tahoma">Return to Home Page</a>
                }
            </div>
        </div>
    </div>
</div>

