@inherits Umbraco.Web.Mvc.UmbracoViewPage<Appintern.Web.ViewModels.LiaisonProfileModel>

@using Umbraco.Web
@using System.Web.Mvc

@{
    var member = System.Web.Security.Membership.GetUser();

    string successMessage = "";
    if (ViewData["successMessage"] != null)
    {
        successMessage = ViewData["successMessage"].ToString();
    }
}

@*<div class="contact-clean">*@
    <div class="container">
        @{
            using (Html.BeginUmbracoForm("SubmitLiaisonForm", "Profiles", FormMethod.Post))
            {
                @Html.AntiForgeryToken()

                @RenderProfileForm()

                if (!ViewData.ModelState.IsValid)
                {
                    <div class="alert alert-danger alert-dismissible" role="alert">
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <strong>@Html.ValidationSummary()</strong>
                    </div>
                }
                if (!string.IsNullOrEmpty(successMessage))
                {
                    <div class="alert alert-success alert-dismissible" role="alert">
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <strong>@successMessage</strong>
                    </div>
                }
            }
        }
    </div>
@*</div>*@


@helper RenderProfileForm()
{
    @Html.HiddenFor(m => m.MemberId)

<div id="user-login">
    <div class="form-header" style="margin-bottom:20px">
        <img src="~/Images/user-circle-gray.png" width="100" height="70" style="margin:10px 20px 10px 10px" />
        <font class="form-title">Liaison Officer profile data</font>
        @*<hr class="form-line" />*@
    </div>
    <div class="col-md-12">
        @Html.LabelFor(m => m.TaxNumber, new { @class = "control-label col-md-8" })
        @Html.TextBoxFor(m => m.TaxNumber, new { @class = "form-control", placeholder = "Tax Number..." })
        @Html.ValidationMessageFor(m => m.TaxNumber)
    </div>
    <div class="col-md-12">
        @Html.LabelFor(m => m.FullName, new { @class = "control-label col-md-8" })
        @Html.TextBoxFor(m => m.FullName, new { @class = "form-control", placeholder = "Full Name..." })
        @Html.ValidationMessageFor(m => m.FullName)
    </div>
    <div class="col-md-12">
        @Html.LabelFor(m => m.Country, new { @class = "control-label col-md-8" })
        @Html.DropDownListFor(m => m.Country, Model.CountryList, "Select a country...", new { @class = "form-control", style = "font-size:16px;min-width:200px;padding:1px" })
        @Html.ValidationMessageFor(m => m.Country)
    </div>
    <div class="col-md-12">
        @Html.LabelFor(m => m.Phone, new { @class = "control-label col-md-8" })
        @Html.TextBoxFor(m => m.Phone, new { @class = "form-control", placeholder = "Phone number..." })
        @Html.ValidationMessageFor(m => m.Phone)
    </div>
    <div class="col-md-12">
        @Html.LabelFor(m => m.OfficeAddress, new { @class = "control-label col-md-8" })
        @Html.TextBoxFor(m => m.OfficeAddress, new { @class = "form-control", placeholder = "Office address..." })
        @Html.ValidationMessageFor(m => m.OfficeAddress)
    </div>
    <div class="col-md-12">
        @Html.LabelFor(m => m.Occupation, new { @class = "control-label col-md-8" })
        @Html.TextBoxFor(m => m.Occupation, new { @class = "form-control", placeholder = "Occupation..." })
        @Html.ValidationMessageFor(m => m.Occupation)
    </div>
    <div class="col-md-12">
        @Html.LabelFor(m => m.Employer, new { @class = "control-label col-md-8" })
        @Html.TextBoxFor(m => m.Employer, new { @class = "form-control", placeholder = "Employer name..." })
        @Html.ValidationMessageFor(m => m.Employer)
    </div>
    <div class="form-group">
        <button class="btn btn-primary" name="profile" type="submit">submit </button>
        <button class="btn btn-success" type="reset" onclick="refreshPage()">reset </button>
        <a class="btn btn-warning" href="/" style="margin-top:16px">Return to Home Page</a>
    </div>
</div>
}

<script type="text/javascript">

    function refreshPage() {
        window.location.reload(true);
    }

</script>
