@model IPagedList<MemberTypeProfile>
@using Appintern.Web.ViewModels
@using MvcPaging;

<head>
    <style>
        /*yeap blue bakground fix input here also*/
        .dropdown-menu > .active > a {
            background-image: none;
            background-color: whitesmoke;
        }
    </style>
</head>

<h4>This is a test results page which displays all members of the selected type in this area</h4>

@if (Model.Count() > 0)
{
    foreach (var member in Model)
    {

        <div class="list-group">
            @RenderBoxedItem(member)
        </div>
    }
}

<div class="pager">
    @*@Html.Pager(Model.PageSize, Model.PageNumber, Model.TotalItemCount))*@
    @*Edw to option einai o tropos to Pager na pernas arguments sto link. Kalw to parakatw function gia na kanw extract to type*@
    @Html.Pager(Model.PageSize, Model.PageNumber, Model.TotalItemCount).Options(o => o.AddRouteValue("type", GetMemberType()))

    Displaying @Model.ItemStart - @Model.ItemEnd of @Model.TotalItemCount item(s)
</div>

@helper RenderBoxedItem(MemberTypeProfile member)
{
    <div class="list-group-item col-md-12">
        <table>
            <tr>
                <td>
                    <img src='@Url.Content("~/Images/44.jpg")' height="60" width="80" />
                </td>
                <td>
                    <a href='@Url.Action("RenderProfileForm", "Profiles", new { memberAlias = member.UrlSlug, memberType = member.Type })' title="View profile for @member.Name" target="_blank">@member.Name</a><br />
                    @member.Email
                </td>
            </tr>
        </table>
    </div>
}

@functions {

    //Auth h hackia metratrepei to filiko lektiko se pragmatiko type, gia na mpei sto link to pager. 

    //Edw 8elw input gt 8a paixsei kai me to na kanw ena megalo if else edw 8a paixsei alla den einai kompsh lysh. 
    // 8eloume eite kapws na exoume to type sto MemberTypeProfile, h na vre8ei kapoios tropos na pernaei to model object pisw.

    // To loop einai epishs axrhasto kanonika 8elei FirstOrDefault.
    public string GetMemberType()
    {
        string res = "" ;
        foreach (var member in Model)
        {
            if (member.Type.Equals("ambassadors"))
            {
                res = "Business Ambassadors";
            }
            res = "Business Ambassadors";

        }
        return res;
    }
}
