@inherits Umbraco.Web.Mvc.UmbracoViewPage<Appintern.Web.ViewModels.StudentProfileModel>

@using Umbraco.Web
@using System.Web.Mvc
@using ClientDependency.Core.Mvc

@{
    var member = System.Web.Security.Membership.GetUser();

    string successMessage = "";
    if (ViewData["successMessage"] != null)
    {
        successMessage = ViewData["successMessage"].ToString();
    }

    Html.RequiresCss("https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/css/bootstrap-datepicker.min.css");
    Html.RequiresJs("https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/js/bootstrap-datepicker.min.js");

    @Html.RenderCssHere();
    @Html.RenderJsHere();
}


<div class="container">
    @{
        using (Html.BeginUmbracoForm("SubmitStudentForm", "Profiles", FormMethod.Post))
        {
            @Html.AntiForgeryToken()

            @RenderProfileForm()

            if (!ViewData.ModelState.IsValid)
            {
                <div class="alert alert-danger alert-dismissible" role="alert">
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <strong>@Html.ValidationSummary()</strong>
                </div>
            }
            if (!string.IsNullOrEmpty(successMessage))
            {
                <div class="alert alert-success alert-dismissible" role="alert">
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <strong>@successMessage</strong>
                </div>
            }
        }
    }
</div>


@helper RenderProfileForm()
{
    @Html.HiddenFor(m => m.MemberId)

    <div id="user-login">
        <div class="form-header" style="margin-bottom:20px">
            <img src="~/Images/user-circle-gray.png" width="100" height="70" style="margin:10px 20px 10px 10px" />
            <font class="form-title">Student profile data</font>
            @*<hr class="form-line" />*@
        </div>
        <div class="col-md-12">
            @Html.LabelFor(m => m.FullName, new { @class = "control-label col-md-8" })
            @Html.TextBoxFor(m => m.FullName, new { @class = "form-control", placeholder = "Full Name" })
            @Html.ValidationMessageFor(m => m.FullName)
        </div>
        <div class="col-md-12">
            @Html.LabelFor(m => m.BirthDate, new { @class = "control-label col-md-10" })
            @Html.TextBoxFor(m => m.BirthDate, "{0:dd/MM/yyyy}", new { @class = "form-control datepicker", placeholer = "dd/mm/yyyy", style = "max-width:220px;padding:2px" })
            @Html.ValidationMessageFor(m => m.BirthDate)
        </div>
        <div class="col-md-12">
            @Html.LabelFor(m => m.Gender, new { @class = "control-label col-md-3" })
            @Html.DropDownListFor(m => m.Gender, Model.GenderList, "Select a gender...", new { @class = "form-control", style = "font-size:16px;min-width:200px;padding:1px" })
            @Html.ValidationMessageFor(m => m.Gender)
        </div>
        <div class="col-md-12">
            @Html.LabelFor(m => m.Phone, new { @class = "control-label col-md-3" })
            @Html.TextBoxFor(m => m.Phone, new { @class = "form-control", placeholder = "Phone" })
            @Html.ValidationMessageFor(m => m.Phone)
        </div>
        <div class="col-md-12">
            @Html.LabelFor(m => m.Address, new { @class = "control-label col-md-8" })
            @Html.TextBoxFor(m => m.Address, new { @class = "form-control", placeholder = "Address" })
            @Html.ValidationMessageFor(m => m.Address)
        </div>
        <div class="col-md-12">
            @Html.LabelFor(m => m.City, new { @class = "control-label col-md-3" })
            @Html.TextBoxFor(m => m.City, new { @class = "form-control", placeholder = "City" })
            @Html.ValidationMessageFor(m => m.City)
        </div>
        <div class="col-md-12">
            @Html.LabelFor(m => m.State, new { @class = "control-label col-md-3" })
            @Html.TextBoxFor(m => m.State, new { @class = "form-control", placeholder = "State", style = "font-size:16px;min-width:100px;padding:1px" })
            @Html.ValidationMessageFor(m => m.State)
        </div>
        <div class="col-md-12">
            @Html.LabelFor(m => m.Zip, new { @class = "control-label col-md-3" })
            @Html.TextBoxFor(m => m.Zip, new { @class = "form-control", placeholder = "Postcode" })
            @Html.ValidationMessageFor(m => m.Zip)
        </div>
        <div class="col-md-12">
            @Html.LabelFor(m => m.Country, new { @class = "control-label col-md-3" })
            @Html.DropDownListFor(m => m.Country, Model.CountryList, "Select a country...", new { @class = "form-control", style = "font-size:16px;min-width:200px;padding:1px" })
            @Html.ValidationMessageFor(m => m.Country)
        </div>
        <div class="col-md-12">
            @Html.LabelFor(m => m.School, new { @class = "control-label col-md-3" })
            @Html.TextBoxFor(m => m.School, new { @class = "form-control", placeholder = "School" })
            @Html.ValidationMessageFor(m => m.School)
        </div>
        <div class="col-md-12">
            @Html.LabelFor(m => m.Specialty, new { @class = "control-label col-md-3" })
            @Html.TextBoxFor(m => m.Specialty, new { @class = "form-control", placeholder = "Specialization" })
            @Html.ValidationMessageFor(m => m.Specialty)
        </div>
        <div class="col-md-12">
            @Html.LabelFor(m => m.JobSector, new { @class = "control-label col-md-3" })
            @Html.DropDownListFor(m => m.JobSector, Model.JobSectorList, "Select a job sector...", new { @class = "form-control", style = "font-size:16px;min-width:200px;padding:1px" })
            @Html.ValidationMessageFor(m => m.JobSector)
        </div>

        <div class="form-group">
            <button class="btn btn-primary" name="profile" type="submit">submit </button>
            <button class="btn btn-success" type="reset" onclick="refreshPage()">reset </button>
            <a class="btn btn-warning" href="/" style="margin-top:16px">Return to Home Page</a>
        </div>
    </div>
}

<script type="text/javascript">

    $(function () { // will trigger when the document is ready
        $('.datepicker').datepicker({ format: 'dd/mm/yyyy' }); //Initialise any date pickers
    });

    function refreshPage() {
        window.location.reload(true);
    }

</script>
