@*@inherits Umbraco.Web.Mvc.UmbracoViewPage*@

@{
    var member = System.Web.Security.Membership.GetUser();
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>AppInterN Data Form</title>

    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" type="text/css" />

    <link href="https://kendo.cdn.telerik.com/2019.3.1023/styles/kendo.bootstrap-v4.min.css" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content//b4/bootstrap.min.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/SiteKendo.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/scripts/messagebox/messagebox.css")" rel="stylesheet" type="text/css" />

    <script src="https://kendo.cdn.telerik.com/2019.3.1023/js/jquery.min.js"></script>
    <script src="https://kendo.cdn.telerik.com/2019.3.1023/js/jszip.min.js"></script>
    <script src="https://kendo.cdn.telerik.com/2019.3.1023/js/kendo.all.min.js"></script>
    <script src="https://kendo.cdn.telerik.com/2019.3.1023/js/kendo.aspnetmvc.min.js"></script>
    <script src="https://kendo.cdn.telerik.com/2019.3.1023/js/cultures/kendo.culture.en-GB.min.js"></script>

    <script src="@Url.Content("~/scripts/b4/kendo.modernizr.custom.js")"></script>
    <script src="@Url.Content("~/scripts/messagebox/messagebox.js")"></script>
    <script src="@Url.Content("~/scripts/custom/jspCustom.js")"></script>

</head>
<body class="k-content">
    <nav class="navbar navbar-dark bg-dark navbar-fixed-top">
        <div class="container-fluid d-flex justify-content-between p-0">
            <h1 class="navbar-brand d-flex align-items-center">Form Page</h1>
            @if (member != null)
            {
                <span style="float:right;margin-left:20px;margin-right:20px;color:whitesmoke;font-size:18px">
                    Logged user: &nbsp;
                    <strong><i class="fa fa-user-circle-o" aria-hidden="true"></i> @member.UserName</strong>
                </span>
            }
        </div>
    </nav>

    <main>
        <div class="row">
            @RenderBody()
        </div>
    </main>

    <footer class="footer text-center d-flex align-items-center" style="background-color:dimgray">
        <div class="container-fluid">
            <p style="color:white">AppInterN Starter Site - Copyright © @DateTime.Now.Year Georgios Kyriakakis &amp; Christos Ghiokas for OAED.</p>
        </div>
    </footer>

</body>
</html>
